.cart-list {
  width: 300px;
  height: 80vh;
  background: #f5f5f5;
  position: absolute;
  right: 100px;
  top: 130px;
  z-index: 1000;
  .cart-list-container {
    position: relative;
    height: 80vh;
  }
  .inner-container {
    overflow-y: scroll;
    height: 75vh;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }
  .total-amount {
    position: absolute;
    bottom: 0;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background: #ffffff;
    padding: 20px;
    width: 100%;
  }
}
